@charset "utf-8"

body {
background-color: #f0f6ff;
font-family: "メイリオ",sans-serif;
}

h1 {
background-color: #f0f6ff;
color: #040029;
text-align: center;
}

h2 {
background-color: #f1fff0;
color: #011200;
}

footer {
background-color: #1a1a1a;
color: #f7f7f7;
}
