@charset "utf-8"

body {
  background-color: #f0f6ff;
  font-family: "メイリオ",sans-serif;
}

header {
  width: 800px;
  background-color: #f0f6ff;
}

nav {
  padding: 20px;
}

div#contents {
  background-color: #ffffff;
  width: 560px;
  float: right;
}

div#sidebar {
  width: 240px;
  float: left;
  background-color: #e8e8e8;
}

h1 {
  background-color: #f0f6ff;
  color: #040029;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-left: 30px;
}

h2 {
  background-color: #f1fff0;
  color: #011200;
}

footer {
  background-color: #1a1a1a;
  color: #f7f7f7;
}

a.white:link {
  color: #f7f7f7;
  text-decoration: none; 
}

a.white:visited {
  color: #d1d1d1;
  text-decoration: none;
}

#wrap {
  width: 800px;
  background-color: #f0f6ff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0px;
}
