@charset "utf-8"


body {
  background-color: #f0f6ff;
  background-image: url(photo/IMG_3665.jpeg);
  margin: 0px !important;
}

header {
  width: 800px;
  background-color: #9fc6ff;
  text-align: center;
}

nav {
  padding: 20px;
}

div#contents {
  background-color: #ffffff;
  width: 560px;
  float: right;
}

div#sidebar {
  width: 240px;
  float: left;
  background-color: #e8e8e8;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #040029;
  margin: 0px;
  padding-top: 30px;
}

header p {
  color: #3d3d3d;
  font-size: 0.8em;
  margin: 0px;
  padding-bottom: 10px;
}

article {
  padding: 20px;
}

h2 {
  background-color: #f1fff0;
  color: #011200;
}

footer {
  width: 800px;
  background-color: #1a1a1a;
  color: #f7f7f7;
  clear: both;
}

a.white:link {
  color: #f7f7f7;
  text-decoration: none; 
}

a.white:visited {
  color: #d1d1d1;
  text-decoration: none;
}

#wrap {
  width: 800px;
  background-color: #c4c4c4;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0px;
}
